html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {

    font-family: "JetBrainsMono"; 

    src: url("JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype"); 
}

#mouse {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1000;
} 

#terminal {
  /*font-variant-ligatures: none;*/
  font-family: JetBrainsMono;
  position: absolute;
  white-space: pre;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 22px;
  overflow-x: visible;
  overflow-y: visible;
}

#scroll {
  overflow-y: scroll;
  overflow-x: scroll;
  position: absolute;
  white-space: pre-wrap;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  border: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

#text-cursor {
  font-variant-ligatures: none;
  font-family: JetBrainsMono;
  font-size: 22px;
  width: 13.2px;
  height: 29px;
  background-color: white;
  color: black;
  position: absolute;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

iframe {
  display: none;
}
